<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset = "UTF-8">
  <title>RAMEN BURGERS</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <h1> > TESTING FOR RAMEN BURGERS... </h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/order">Order</a></li>
  </ul>

  <!-- Main Content Here -->  
  <%- defineContent('buns') %>
  <%- defineContent('about') %>
  <%- defineContent('order') %>
</body>

</html>

